@page "/"
@using Microsoft.AspNetCore.Authorization
@using BDFM_Mobile.Authentication
@inject AuthenticationService AuthService
@inject NavigationManager Navigation
@attribute [Authorize]

<h1>Hello, world!</h1>

Welcome to your new app.

@* button to logout *@
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Logout">
    Logout
</MudButton>


@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login", true);
    }
}